# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS/WSL
*.Identifier
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/

# Data
data/*
!data/processed/
data/processed/*
!data/processed/player_id_map.json
*.csv
*.json
!**/*.ipynb

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints
