# Data Handling & API
pandas
requests
requests-cache

# Machine Learning
scikit-learn
numpy
scipy

# Visualization
matplotlib
seaborn
mplsoccer

# Environment & Testing
python-dotenv
pytest
pytest-cov
jupyter
tabulate
